<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>初美代理系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv='content-script-type' content='text/javascript' />
		<meta http-equiv='content-style-type' content='text/css' />
		<meta http-equiv='content-language' content='zh' />
		<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />
	</head>
	<body>
		<div id="main">
			<h2 class="c77bfaf font22 content-title">订单列表</h2>
			<div class="row">
				<div class="col-sm-12">
					<div class="order-content">
						<div class="order-main">
							<p>运单号：12345678965</p>
							<p>日期：2018-12-15 12:28:37</p>
							<p>客户名称：团长张峰18752677672</p>
							<p>收货信息：广东省 中山市 阜沙镇 万通豪庭旁边的鸿业驾校, 陈欣然, 13829237869</p>
							<button type="button" class="btn btn-success">打印</button>
						</div>
						<div class="order-table">
							<p class="font22 order-title">商品信息</p>
							<table class="table table-bordered">
								<tr>
									<td>商品</td>
									<td>规格</td>
									<td>单价</td>
									<td>数量</td>
									<td>金额</td>
								</tr>
								<tr>
									<td>玫瑰花</td>
									<td>束（红色）</td>
									<td>9.9</td>
									<td>100</td>
									<td>900</td>
								</tr>
								<tr>
									<td>护手霜</td>
									<td>支</td>
									<td>19.9</td>
									<td>256</td>
									<td>2233</td>
								</tr>
								<tr class="last">
									<td colspan="5">合计：1487.5</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
