<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>初美代理系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv='content-script-type' content='text/javascript' />
		<meta http-equiv='content-style-type' content='text/css' />
		<meta http-equiv='content-language' content='zh' />
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/global.css" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
	</head>
	<body>
		<div id="index" style="overflow: hidden;">
			<h2 class="c77bfaf font22 content-title">初美优选</h2>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a class="operat-box">
						<div class="operat-box-header c77bfaf">
							今日经营数据(实时)更新至：2018-12-15 00:12:18
						</div>
						<div class="operat-box-body">
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a class="operat-box">
						<div class="operat-box-header c77bfaf">
							昨日经营数据
						</div>
						<div class="operat-box-body">
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a class="operat-box">
						<div class="operat-box-header c77bfaf">
							本月经营数据
						</div>
						<div class="operat-box-body">
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a class="operat-box">
						<div class="operat-box-header c77bfaf">
							上月经营数据
						</div>
						<div class="operat-box-body">
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
								<div class="col-sm-4">
									<h3>2</h3>
									<p>待发货订单</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
	<script type="application/javascript" src="js/jquery.min.js"></script>
	<script type="application/javascript" src="js/comment.js"></script>
</html>
