<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>初美代理系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv='content-script-type' content='text/javascript' />
		<meta http-equiv='content-style-type' content='text/css' />
		<meta http-equiv='content-language' content='zh' />
		<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />
	</head>
	<body>
		<div id="main">
			<h2 class="c77bfaf font22 content-title">对账单</h2>
			<div class="borderRadius5 clearfix" id="search">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<label for="name">订单编号</label>
					<input id="name" type="text" class="form-control" placeholder="请输入...">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<label for="">团长姓名</label>
					<input id="" type="text" class="form-control" placeholder="请输入...">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<label for="">团长手机号</label>
					<input id="" type="text" class="form-control" placeholder="请输入...">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<label>选择开始时间：</label>
					<div class='input-group date' id='datetimepicker_start'>
						<input type='text' readonly class="form-control" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<label>选择结束时间：</label>
					<div class='input-group date' id="datetimepicker_end">
						<input type='text' readonly class="form-control" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
					<button type="button" class="btn btn-success" onclick="makeGet()">查询</button>
					<button type="button" class="btn btn-success">导出</button>
				</div>
			</div>
			<!--表格-->
			<div id="table-content" class="borderRadius5 public-table">
				<div class="tab-content">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>团长信息</th>
								<th>结算时间</th>
								<th>订单编号</th>
								<th>金额（元）</th>
								<th>余额（元）</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									团长 2019-2-1 18:12:12
								</td>
								<td>
									2019-2-1
								</td>
								<td>
									12121221
								</td>
								<td>
									+12
								</td>
								<td>
									121212
								</td>
								<td class="operat">
									<button type="button" class="btn btn-success">详情</button>
								</td>
							</tr>
						</tbody>
					</table>
					<!--分页-->
					<div class="Page">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="application/javascript" src="../../js/jquery.min.js"></script>
	<script type="application/javascript" src="../../js/comment.js"></script>
	<script type="application/javascript" src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="../../bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
	<script type="application/javascript" src="../../bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="application/javascript" src="../../js/area.js"></script>
	<script src="../../js/distpicker.js" type="text/javascript" charset="utf-8"></script>
	<script type="application/javascript">
		$(function() {
			$('#datetimepicker_start').datetimepicker({
				format: 'yyyy-mm-dd',
				minView: "month",
				language: 'zh-CN',
				todayBtn: 1
			});
			$("#datetimepicker_end").datetimepicker({
				format: "yyyy-mm-dd",
				minView: "month",
				language: 'zh-CN',
				todayBtn: 1
			});
			$('#distpicker').distpicker({
				province: '山东省',
				city: '济南市',
				district: '历下'
			});
		})

		function makeGet() {
			var province = $("#province option:selected").text();
			var city = $("#city option:selected").text();
			var district = $("#district option:selected").text();
			console.log(province + city + district);
		}
	</script>
</html>
