<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>初美代理系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv='content-script-type' content='text/javascript' />
		<meta http-equiv='content-style-type' content='text/css' />
		<meta http-equiv='content-language' content='zh' />
		<link rel="stylesheet" type="text/css" href="../../bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layout.css" />
	</head>
	<body style="overflow: hidden;">
		<div id="my_income">
			<h2 class="c77bfaf font22 content-title">我的收入</h2>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<a class="operat-box">
						<div class="panel panel-default">
							<div class="panel-heading">总收入</div>
							<div class="panel-body">
								<p class="operat-title">（截止到今日0点）</p>
								<h3>￥58965.00 <button type="button" class="btn btn-default">查看对账单</button></h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<a class="operat-box">
						<div class="panel panel-default">
							<div class="panel-heading">待结算</div>
							<div class="panel-body">
								<p class="operat-title"></p>
								<h3>￥58965.00</h3>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<a class="operat-box">
						<div class="panel panel-default">
							<div class="panel-heading">待结算</div>
							<div class="panel-body">
								<p class="operat-title"></p>
								<h3>￥58965.00<button type="button" class="btn btn-success">待打款记录</button></h3>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
	<script type="application/javascript" src="../../js/jquery.min.js"></script>
	<script type="application/javascript" src="../../js/comment.js"></script>
</html>
